.order-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }
  
    h2 {
      margin-top: 20px;
      color: #444;
      border-bottom: 2px solid #ddd;
      padding-bottom: 5px;
    }
  
    p {
      margin: 5px 0;
      color: #555;
    }
  
    .order-summary,
    .shipping-info {
      margin-bottom: 20px;
      background-color: #fff;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
  
    .order-items {
      display: flex;
      flex-direction: column;
  
      .order-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
  
        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          margin-right: 15px;
          border-radius: 5px;
        }
  
        div {
          p {
            margin: 3px 0;
          }
        }
      }
    }
  
    .delete-order-btn {
      display: block;
      width: 100%;
      padding: 10px 20px;
      background-color: #076c8b;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:disabled {
        background-color: #bdc3c7;
        cursor: not-allowed;
      }
  
      &:hover:not(:disabled) {
        background-color: #2bafc0;
      }
    }
  
    .order-details-loading,
    .order-details-error {
      text-align: center;
      font-size: 18px;
      color: #888;
      margin-top: 20px;
    }
  }
  